services:
  - type: web
    name: mara-tech
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn mara_tech.wsgi
    envVars:
      - key: DJANGO_SECRET_KEY
        sync: false
      - key: DJANGO_DEBUG
        value: "False"
      - key: DJANGO_ALLOWED_HOSTS
        sync: false
